{:aliases  {:dev {:extra-paths ["development/src"
                                "components/left/src"
                                "components/right/src"]
                  :extra-deps {repro-lib/blue {:git/url "https://github.com/imrekoszo/ReproLibrary/"
                                               :sha "938c214069d6792f498f2e98f048469c456ce94b"
                                               :deps/root "blue"}
                               repro-lib/red  {:git/url "https://github.com/imrekoszo/ReproLibrary/"
                                               :sha "938c214069d6792f498f2e98f048469c456ce94b"
                                               :deps/root "red"}}}
            :test {:extra-paths ["components/left/test"
                                 "components/right/test"]}
            :kaocha {:extra-deps {lambdaisland/kaocha {:mvn/version "1.0.829"}}}}}
