{:paths ["src" "resources"]
 :deps {}
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps {repro-lib/blue {:git/url "https://github.com/imrekoszo/ReproLibrary/"
                                               :sha "938c214069d6792f498f2e98f048469c456ce94b"
                                               :deps/root "blue"}}}}}
