{:paths ["src" "resources"]
 :deps {}
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps {repro-lib/red {:git/url "https://github.com/Matthew-Ielusic/ReproLibrary/"
                                              :sha "a252586fe4831fe8a719571793cfe81f1f4f7e88"
                                              :deps/root "red"
                                              :exclusions [repro-lib/root]}}}}}
